<a href="https://colab.research.google.com/github/Adriana-FLW/MBA_TCC/blob/main/01_DefTarget_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **ENEM 2021**

# - **Bibliotecas**

In [ ]:
import pandas as pd
import numpy as np

# **Importar Base 2021**

In [ ]:
df_f = pd.read_csv('/content/drive/MyDrive/MBA_TCC/DADOS/df_f_2021.csv',sep=',',encoding='ISO-8859-1')
df_f.shape

(1864223, 48)

In [ ]:
df_f.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1864223 entries, 0 to 1864222
Data columns (total 48 columns):
 #   Column              Dtype
---  ------              -----
 0   NU_INSCRICAO        int64
 1   NU_ANO              int64
 2   TP_FAIXA_ETARIA     int64
 3   TP_SEXO             object
 4   TP_ESTADO_CIVIL     int64
 5   TP_COR_RACA         int64
 6   TP_ST_CONCLUSAO     int64
 7   TP_ANO_CONCLUIU     int64
 8   TP_ESCOLA           int64
 9   TP_ENSINO           int64
 10  CO_MUNICIPIO_ESC    float64
 11  NO_MUNICIPIO_ESC    object
 12  SG_UF_ESC           object
 13  TP_LOCALIZACAO_ESC  int64
 14  CO_MUNICIPIO_PROVA  float64
 15  NO_MUNICIPIO_PROVA  object
 16  SG_UF_PROVA         object
 17  NU_NOTA_CN          float64
 18  NU_NOTA_CH          float64
 19  NU_NOTA_LC          float64
 20  NU_NOTA_MT          float64
 21  TP_LINGUA           int64
 22  NU_NOTA_REDACAO     float64
 23  Q001                object
 24  Q002                object
 25  Q003                object
 26  Q004                object
 27  Q005                float64
 28  Q006                object
 29  Q007                object
 30  Q008                object
 31  Q009                object
 32  Q010                object
 33  Q011                object
 34  Q012                object
 35  Q013                object
 36  Q014                object
 37  Q015                object
 38  Q016                object
 39  Q017                object
 40  Q018                object
 41  Q019                object
 42  Q020                object
 43  Q021                object
 44  Q022                object
 45  Q023                object
 46  Q024                object
 47  Q025                object
dtypes: float64(8), int64(11), object(29)
memory usage: 682.7+ MB

# **Classificação das Competências**

- NU_NOTA_CN

In [ ]:
np.median(df_f.NU_NOTA_CN)

483.0

In [ ]:
df_f['Target_CN'] = np.where(df_f['NU_NOTA_CN'] > np.median(df_f.NU_NOTA_CN), 1, 0)

In [ ]:
df_f['Target_CN'].value_counts().sort_index()

0    932131
1    932092
Name: Target_CN, dtype: int64

- NU_NOTA_CH

In [ ]:
np.median(df_f.NU_NOTA_CH)

526.9

In [ ]:
df_f['Target_CH'] = np.where(df_f['NU_NOTA_CH'] > np.median(df_f.NU_NOTA_CH), 1, 0)

In [ ]:
df_f['Target_CH'].value_counts().sort_index()

0    932708
1    931515
Name: Target_CH, dtype: int64

- NU_NOTA_LC

In [ ]:
np.median(df_f.NU_NOTA_LC)

507.9

In [ ]:
df_f['Target_LC'] = np.where(df_f['NU_NOTA_LC'] > np.median(df_f.NU_NOTA_LC), 1, 0)

In [ ]:
df_f['Target_LC'].value_counts().sort_index()

0    932989
1    931234
Name: Target_LC, dtype: int64

- NU_NOTA_MT

In [ ]:
np.median(df_f.NU_NOTA_MT)

513.2

In [ ]:
df_f['Target_MT'] = np.where(df_f['NU_NOTA_MT'] > np.median(df_f.NU_NOTA_MT), 1, 0)

In [ ]:
df_f['Target_MT'].value_counts().sort_index()

0    932593
1    931630
Name: Target_MT, dtype: int64

- NU_NOTA_REDACAO

In [ ]:
np.median(df_f.NU_NOTA_REDACAO)

620.0

In [ ]:
df_f['Target_Red'] = np.where(df_f['NU_NOTA_REDACAO'] >= np.median(df_f.NU_NOTA_REDACAO), 1, 0)

In [ ]:
df_f['Target_Red'].value_counts().sort_index()

0    928201
1    936022
Name: Target_Red, dtype: int64

# **Definição do Target**

In [ ]:
df_f['Sum_Target'] = df_f['Target_CN'] + df_f['Target_CH'] + df_f['Target_LC'] + df_f['Target_MT'] + df_f['Target_Red']

In [ ]:
df_f['Sum_Target'].value_counts().sort_index()

0    389665
1    310532
2    244745
3    231909
4    270116
5    417256
Name: Sum_Target, dtype: int64

In [ ]:
df_f['Sum_Target_2'] = np.where(df_f['Sum_Target'] >=3, 1, 0)
df_f['Sum_Target_2'].value_counts().sort_index()

0    944942
1    919281
Name: Sum_Target_2, dtype: int64

In [ ]:
conditionlist = [(df_f['Sum_Target'] <= 1) ,
                 (df_f['Sum_Target'] > 1) & (df_f['Sum_Target'] <= 3),
                 (df_f['Sum_Target'] > 3)]
choicelist = [0, 1, 2]
df_f['Sum_Target_3'] = np.select(conditionlist, choicelist, default='Not Specified')

df_f.Sum_Target_3.value_counts().sort_index()

0    700197
1    476654
2    687372
Name: Sum_Target_3, dtype: int64

# **Exclusao de Colunas**

In [ ]:
df_f.drop(['Target_CN','Target_CH','Target_LC','Target_MT','Target_Red'], axis = 1, inplace = True)
df_f.shape

(1864223, 51)

# **Exportar Base Final**

In [ ]:
df_f.to_csv('/content/drive/MyDrive/MBA_TCC/DADOS/df_ft_2021.csv', index=False)