<a href="https://colab.research.google.com/github/Adriana-FLW/MBA_TCC/blob/main/02_CategVariaveis_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# **ENEM 2020**

# - **Bibliotecas**

In [ ]:
import pandas as pd
import numpy as np

# **Importar Base 2020**

In [ ]:
df_ft = pd.read_csv('/content/drive/MyDrive/MBA_TCC/DADOS/df_ft_2020.csv',sep=',',encoding='ISO-8859-1')
df_ft.shape

(2207793, 51)

In [ ]:
df_ft.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2207793 entries, 0 to 2207792
Data columns (total 51 columns):
 #   Column              Dtype
---  ------              -----
 0   NU_INSCRICAO        int64
 1   NU_ANO              int64
 2   TP_FAIXA_ETARIA     int64
 3   TP_SEXO             object
 4   TP_ESTADO_CIVIL     int64
 5   TP_COR_RACA         int64
 6   TP_ST_CONCLUSAO     int64
 7   TP_ANO_CONCLUIU     int64
 8   TP_ESCOLA           int64
 9   TP_ENSINO           int64
 10  CO_MUNICIPIO_ESC    float64
 11  NO_MUNICIPIO_ESC    object
 12  SG_UF_ESC           object
 13  TP_LOCALIZACAO_ESC  int64
 14  CO_MUNICIPIO_PROVA  float64
 15  NO_MUNICIPIO_PROVA  object
 16  SG_UF_PROVA         object
 17  NU_NOTA_CN          float64
 18  NU_NOTA_CH          float64
 19  NU_NOTA_LC          float64
 20  NU_NOTA_MT          float64
 21  TP_LINGUA           int64
 22  NU_NOTA_REDACAO     float64
 23  Q001                object
 24  Q002                object
 25  Q003                object
 26  Q004                object
 27  Q005                float64
 28  Q006                object
 29  Q007                object
 30  Q008                object
 31  Q009                object
 32  Q010                object
 33  Q011                object
 34  Q012                object
 35  Q013                object
 36  Q014                object
 37  Q015                object
 38  Q016                object
 39  Q017                object
 40  Q018                object
 41  Q019                object
 42  Q020                object
 43  Q021                object
 44  Q022                object
 45  Q023                object
 46  Q024                object
 47  Q025                object
 48  Sum_Target          int64
 49  Sum_Target_2        int64
 50  Sum_Target_3        int64
dtypes: float64(8), int64(14), object(29)
memory usage: 859.1+ MB

In [ ]:
df_ft.head()

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,TP_ENSINO,...,Q019,Q020,Q021,Q022,Q023,Q024,Q025,Sum_Target,Sum_Target_2,Sum_Target_3
0,200003132410,2020,3,F,1,3,1,1,1,9,...,B,B,A,D,A,B,B,4,1,2
1,200006762554,2020,5,F,2,3,1,3,1,9,...,B,A,A,C,A,A,A,1,0,0
2,200006138472,2020,7,M,1,1,1,0,1,9,...,B,A,A,C,A,B,B,5,1,2
3,200003343448,2020,7,F,1,3,1,3,1,9,...,B,B,A,C,A,B,B,2,0,1
4,200005966328,2020,13,M,1,2,1,0,1,9,...,B,B,A,C,A,A,A,1,0,0

In [ ]:
df_ft.columns

Index(['NU_INSCRICAO', 'NU_ANO', 'TP_FAIXA_ETARIA', 'TP_SEXO',
       'TP_ESTADO_CIVIL', 'TP_COR_RACA', 'TP_ST_CONCLUSAO', 'TP_ANO_CONCLUIU',
       'TP_ESCOLA', 'TP_ENSINO', 'CO_MUNICIPIO_ESC', 'NO_MUNICIPIO_ESC',
       'SG_UF_ESC', 'TP_LOCALIZACAO_ESC', 'CO_MUNICIPIO_PROVA',
       'NO_MUNICIPIO_PROVA', 'SG_UF_PROVA', 'NU_NOTA_CN', 'NU_NOTA_CH',
       'NU_NOTA_LC', 'NU_NOTA_MT', 'TP_LINGUA', 'NU_NOTA_REDACAO', 'Q001',
       'Q002', 'Q003', 'Q004', 'Q005', 'Q006', 'Q007', 'Q008', 'Q009', 'Q010',
       'Q011', 'Q012', 'Q013', 'Q014', 'Q015', 'Q016', 'Q017', 'Q018', 'Q019',
       'Q020', 'Q021', 'Q022', 'Q023', 'Q024', 'Q025', 'Sum_Target',
       'Sum_Target_2', 'Sum_Target_3'],
      dtype='object')

# **Criação de Variáveis**

- - Computador/Celular/Internet

In [ ]:
df_ft['Ter_Cel'] = np.where(df_ft['Q022'] == 'A', 0, 1)
df_ft['Ter_Com'] = np.where(df_ft['Q024'] == 'A', 0, 1)
df_ft['Ter_Int'] = np.where(df_ft['Q025'] == 'A', 0, 1)
df_ft['Sum_TIC3'] = df_ft['Ter_Cel'] + df_ft['Ter_Com'] + df_ft['Ter_Int']

In [ ]:
df_ft['Ter_Cel'].value_counts().sort_index()

0      40410
1    2167383
Name: Ter_Cel, dtype: int64

In [ ]:
df_ft['Ter_Com'].value_counts().sort_index()

0    1010010
1    1197783
Name: Ter_Com, dtype: int64

In [ ]:
df_ft['Ter_Int'].value_counts().sort_index()

0     372847
1    1834946
Name: Ter_Int, dtype: int64

In [ ]:
df_ft['Sum_TIC3'].value_counts().sort_index()

0      18343
1     325247
2     717744
3    1146459
Name: Sum_TIC3, dtype: int64

In [ ]:
df_ft.loc[df_ft.Sum_TIC3 == 0 ,'Sum_TIC3_']='1'
df_ft.loc[df_ft.Sum_TIC3 == 1 ,'Sum_TIC3_']='1'
df_ft.loc[df_ft.Sum_TIC3 == 2 ,'Sum_TIC3_']='2'
df_ft.loc[df_ft.Sum_TIC3 == 3 ,'Sum_TIC3_']='3'

- Computador/Celular/Internet/TV/Tel Fixo

In [ ]:
df_ft['Ter_TVa'] = np.where(df_ft['Q021'] == 'A', 0, 1)
df_ft['Ter_TFi'] = np.where(df_ft['Q023'] == 'A', 0, 1)
df_ft['Sum_TIC5'] = df_ft['Ter_Cel'] + df_ft['Ter_Com'] + df_ft['Ter_Int'] + df_ft['Ter_TVa'] + df_ft['Ter_TFi']

In [ ]:
df_ft['Ter_TVa'].value_counts().sort_index()

0    1763450
1     444343
Name: Ter_TVa, dtype: int64

In [ ]:
df_ft['Ter_TFi'].value_counts().sort_index()

0    1773473
1     434320
Name: Ter_TFi, dtype: int64

In [ ]:
df_ft['Sum_TIC5'].value_counts().sort_index()

0     17623
1    309130
2    597727
3    731100
4    380174
5    172039
Name: Sum_TIC5, dtype: int64

In [ ]:
df_ft.loc[df_ft.Sum_TIC5 == 0 ,'Sum_TIC5_']='1'
df_ft.loc[df_ft.Sum_TIC5 == 1 ,'Sum_TIC5_']='1'
df_ft.loc[df_ft.Sum_TIC5 == 2 ,'Sum_TIC5_']='2'
df_ft.loc[df_ft.Sum_TIC5 == 3 ,'Sum_TIC5_']='3'
df_ft.loc[df_ft.Sum_TIC5 == 4 ,'Sum_TIC5_']='4'
df_ft.loc[df_ft.Sum_TIC5 == 5 ,'Sum_TIC5_']='5'

- Qtde de Eletrodomésticos

In [ ]:
df_ft['Ter_Gel'] = np.where(df_ft['Q012'] == 'A', 0, 1)
df_ft['Ter_Fre'] = np.where(df_ft['Q013'] == 'A', 0, 1)
df_ft['Ter_LvR'] = np.where(df_ft['Q014'] == 'A', 0, 1)
df_ft['Ter_ScR'] = np.where(df_ft['Q015'] == 'A', 0, 1)
df_ft['Ter_Mio'] = np.where(df_ft['Q016'] == 'A', 0, 1)
df_ft['Ter_LvL'] = np.where(df_ft['Q017'] == 'A', 0, 1)
df_ft['Ter_Asp'] = np.where(df_ft['Q018'] == 'A', 0, 1)
df_ft['Ter_TV'] = np.where(df_ft['Q019'] == 'A', 0, 1)
df_ft['Ter_DVD'] = np.where(df_ft['Q020'] == 'A', 0, 1)
df_ft['Sum_Elet'] = df_ft['Ter_Gel'] + df_ft['Ter_Fre'] + df_ft['Ter_LvR'] + df_ft['Ter_ScR'] + df_ft['Ter_Mio'] + df_ft['Ter_LvL'] + df_ft['Ter_Asp'] + df_ft['Ter_TV'] + df_ft['Ter_DVD']

In [ ]:
df_ft['Ter_Gel'].value_counts().sort_index()

0      31369
1    2176424
Name: Ter_Gel, dtype: int64

In [ ]:
df_ft['Ter_Fre'].value_counts().sort_index()

0    1321445
1     886348
Name: Ter_Fre, dtype: int64

In [ ]:
df_ft['Ter_LvR'].value_counts().sort_index()

0     917259
1    1290534
Name: Ter_LvR, dtype: int64

In [ ]:
df_ft['Ter_ScR'].value_counts().sort_index()

0    1968585
1     239208
Name: Ter_ScR, dtype: int64

In [ ]:
df_ft['Ter_Mio'].value_counts().sort_index()

0    1150033
1    1057760
Name: Ter_Mio, dtype: int64

In [ ]:
df_ft['Ter_LvL'].value_counts().sort_index()

0    2156529
1      51264
Name: Ter_LvL, dtype: int64

In [ ]:
df_ft['Ter_Asp'].value_counts().sort_index()

0    1767452
1     440341
Name: Ter_Asp, dtype: int64

In [ ]:
df_ft['Ter_TV'].value_counts().sort_index()

0     106538
1    2101255
Name: Ter_TV, dtype: int64

In [ ]:
df_ft['Ter_DVD'].value_counts().sort_index()

0    1684430
1     523363
Name: Ter_DVD, dtype: int64

In [ ]:
df_ft['Sum_Elet'].value_counts().sort_index()

0      9720
1     58603
2    473133
3    451078
4    408277
5    347296
6    253667
7    143843
8     49681
9     12495
Name: Sum_Elet, dtype: int64

In [ ]:
df_ft.loc[df_ft.Sum_Elet == 0 ,'Sum_Elet_']='1'
df_ft.loc[df_ft.Sum_Elet == 1 ,'Sum_Elet_']='1'
df_ft.loc[df_ft.Sum_Elet == 2 ,'Sum_Elet_']='2'
df_ft.loc[df_ft.Sum_Elet == 3 ,'Sum_Elet_']='3'
df_ft.loc[df_ft.Sum_Elet == 4 ,'Sum_Elet_']='4'
df_ft.loc[df_ft.Sum_Elet == 5 ,'Sum_Elet_']='5'
df_ft.loc[df_ft.Sum_Elet == 6 ,'Sum_Elet_']='6'
df_ft.loc[df_ft.Sum_Elet == 7 ,'Sum_Elet_']='7'
df_ft.loc[df_ft.Sum_Elet == 8 ,'Sum_Elet_']='8'
df_ft.loc[df_ft.Sum_Elet == 9 ,'Sum_Elet_']='8'

- Escolaridade máxima de pelo menos um dos pais

In [ ]:
df_ft['Q001_'] = np.where(df_ft['Q001'] == 'H', ' ', df_ft.Q001)
df_ft['Q002_'] = np.where(df_ft['Q002'] == 'H', ' ', df_ft.Q002)

conditionlist = [(df_ft['Q001_'] >= df_ft['Q002_']),
                 (df_ft['Q001_'] < df_ft['Q002_'])]
choicelist = [df_ft.Q001, df_ft.Q002]
df_ft['Esc_Max'] = np.select(conditionlist, choicelist, default='Not Specified')
display(df_ft.Esc_Max.value_counts().sort_index())

A     43590
B    268706
C    240282
D    242843
E    811322
F    301477
G    265070
H     34503
Name: Esc_Max, dtype: int64

In [ ]:
df_valid = df_ft[['Q001','Q002','Q001_','Q002_','Esc_Max','NU_INSCRICAO']].loc[(df_ft['Q001'] == 'H') | (df_ft['Q002'] == 'H')].head(10)
df_valid

   Q001 Q002 Q001_ Q002_ Esc_Max  NU_INSCRICAO
23    H    A           A       A  200004553184
30    H    C           C       C  200002695674
36    H    H                   H  200001525954
56    H    B           B       B  200002454016
70    H    H                   H  200005692553
77    H    D           D       D  200001614273
80    H    C           C       C  200001698547
81    H    B           B       B  200005769441
82    H    D           D       D  200006136551
91    H    D           D       D  200003153512

- Carro e Moto

In [ ]:
df_ft['Q010_'] = np.where((df_ft['Q010'] == 'D') | (df_ft['Q010'] == 'E'), 'C', df_ft.Q010)
df_ft['Q011_'] = np.where((df_ft['Q011'] == 'D') | (df_ft['Q011'] == 'E'), 'C', df_ft.Q011)

conditionlist = [(df_ft['Q010_'] == 'A') & (df_ft['Q011_'] == 'A'), # 0 carro e 0 moto
                 (df_ft['Q010_'] == 'A') & (df_ft['Q011_'] == 'B'), # 0 carro e 1 moto
                 (df_ft['Q010_'] == 'A') & (df_ft['Q011_'] == 'C'), # 0 carro e >1 moto
                 (df_ft['Q010_'] == 'B') & (df_ft['Q011_'] == 'A'), # 1 carro e 0 moto
                 (df_ft['Q010_'] == 'B') & (df_ft['Q011_'] == 'B'), # 1 carro e 1 moto
                 (df_ft['Q010_'] == 'B') & (df_ft['Q011_'] == 'C'), # 1 carro e >1 moto
                 (df_ft['Q010_'] == 'C') & (df_ft['Q011_'] == 'A'), # >1 carro e 0 moto
                 (df_ft['Q010_'] == 'C') & (df_ft['Q011_'] == 'B'), # >1 carro e 1 moto
                 (df_ft['Q010_'] == 'C') & (df_ft['Q011_'] == 'C')] # >1 carro e >1 moto
choicelist = [1,2,3,4,5,6,7,8,9]
df_ft['Car_Mot'] = np.select(conditionlist, choicelist, default='Not Specified')
df_ft.Car_Mot.value_counts().sort_index()

1    973571
2    244083
3     18549
4    593751
5    169099
6     19608
7    150363
8     31667
9      7102
Name: Car_Mot, dtype: int64

In [ ]:
df_ft.loc[df_ft.Car_Mot == '1','Car_Mot_']='1'
df_ft.loc[df_ft.Car_Mot == '2','Car_Mot_']='2'
df_ft.loc[df_ft.Car_Mot == '3','Car_Mot_']='2'
df_ft.loc[df_ft.Car_Mot == '4','Car_Mot_']='3'
df_ft.loc[df_ft.Car_Mot == '5','Car_Mot_']='4'
df_ft.loc[df_ft.Car_Mot == '6','Car_Mot_']='4'
df_ft.loc[df_ft.Car_Mot == '7','Car_Mot_']='5'
df_ft.loc[df_ft.Car_Mot == '8','Car_Mot_']='6'
df_ft.loc[df_ft.Car_Mot == '9','Car_Mot_']='6'
df_ft.Car_Mot_.value_counts().sort_index()

1    973571
2    262632
3    593751
4    188707
5    150363
6     38769
Name: Car_Mot_, dtype: int64

In [ ]:
df_valid = df_ft[['Q010','Q011','Q010_','Q011_','Car_Mot','Car_Mot_','NU_INSCRICAO']].loc[(df_ft['Q010'] == 'E')].head(10)
df_valid

      Q010 Q011 Q010_ Q011_ Car_Mot Car_Mot_  NU_INSCRICAO
2110     E    B     C     B       8        6  200005077627
6329     E    A     C     A       7        5  200005462340
8741     E    A     C     A       7        5  200002811894
9729     E    E     C     C       9        6  200006363850
15594    E    B     C     B       8        6  200001142330
16032    E    A     C     A       7        5  200001393793
16307    E    A     C     A       7        5  200002724328
18976    E    A     C     A       7        5  200003822084
19041    E    A     C     A       7        5  200001772891
19509    E    B     C     B       8        6  200002974232

- Porte da Casa

In [ ]:
# Q007
df_ft['Q007_'] = df_ft['Q007']
conditionlist = [(df_ft['Q007_'] == 'A'),
                 (df_ft['Q007_'] == 'B'),
                 (df_ft['Q007_'] == 'C'),
                 (df_ft['Q007_'] == 'D')]
choicelist = [0,1,2,2]
df_ft['Q007_f2'] = np.select(conditionlist, choicelist, default='Not Specified')
df_ft['Q007_f'] = pd.to_numeric(np.select(conditionlist, choicelist, default='Not Specified'), errors = 'coerce')


# Q008
df_ft['Q008_'] = df_ft['Q008']
conditionlist = [(df_ft['Q008_'] == 'A'),
                 (df_ft['Q008_'] == 'B'),
                 (df_ft['Q008_'] == 'C'),
                 (df_ft['Q008_'] == 'D'),
                 (df_ft['Q008_'] == 'E')]
choicelist = [0,1,2,3,3]
df_ft['Q008_f2'] = np.select(conditionlist, choicelist, default='Not Specified')
df_ft['Q008_f'] = pd.to_numeric(np.select(conditionlist, choicelist, default='Not Specified'), errors = 'coerce')


# Q009
df_ft['Q009_'] = df_ft['Q009']
conditionlist = [(df_ft['Q009_'] == 'A'),
                 (df_ft['Q009_'] == 'B'),
                 (df_ft['Q009_'] == 'C'),
                 (df_ft['Q009_'] == 'D'),
                 (df_ft['Q009_'] == 'E')]
choicelist = [0,1,2,3,3]
df_ft['Q009_f2'] = np.select(conditionlist, choicelist, default='Not Specified')
df_ft['Q009_f'] = pd.to_numeric(np.select(conditionlist, choicelist, default='Not Specified'), errors = 'coerce')


# Soma
df_ft['Tot_PtCasa_2'] = df_ft['Q007_f2'] + df_ft['Q008_f2'] + df_ft['Q009_f2']
df_ft['Tot_PtCasa'] = df_ft['Q007_f'] + df_ft['Q008_f'] + df_ft['Q009_f']

In [ ]:
df_ft.Q007_f.value_counts().sort_index()

0    2064484
1      80033
2      63276
Name: Q007_f, dtype: int64

In [ ]:
df_ft.Q008_f.value_counts().sort_index()

0      15248
1    1533527
2     471526
3     187492
Name: Q008_f, dtype: int64

In [ ]:
df_ft.Q009_f.value_counts().sort_index()

0      16514
1     285477
2    1123427
3     782375
Name: Q009_f, dtype: int64

In [ ]:
df_ft.Tot_PtCasa_2.value_counts().sort_index()

000      2127
001      5236
002      5743
003      1677
010     13551
011    267617
012    904293
013    308834
020       142
021      3954
022    165472
023    268233
030        15
031       131
032     12375
033    105084
100        65
101       175
102        70
103        19
110       404
111      5519
112     13613
113      4346
120         7
121       123
122      6348
123     15422
130         2
131        12
132      2238
133     31670
200        19
201        55
202        48
203        14
210       174
211      2581
212      9110
213      3485
220         1
221        63
222      2858
223      8903
230         7
231        11
232      1259
233     34688
Name: Tot_PtCasa_2, dtype: int64

In [ ]:
df_ft.Tot_PtCasa.value_counts().sort_index()

0      2127
1     18852
2    274100
3    915764
4    490824
5    300508
6    129098
7     41832
8     34688
Name: Tot_PtCasa, dtype: int64

In [ ]:
df_valid = df_ft[['Q007','Q008','Q009','Q007_f','Q008_f','Q009_f','Tot_PtCasa','NU_INSCRICAO']].loc[(df_ft['Q007_f'] == 2) & (df_ft['Q009_f'] < 1)].head(10)
df_valid

      Q007 Q008 Q009  Q007_f  Q008_f  Q009_f  Tot_PtCasa  NU_INSCRICAO
6170     C    B    A       2       1       0           3  200003389876
10728    D    B    A       2       1       0           3  200003839898
12372    C    B    A       2       1       0           3  200002674589
17283    D    A    A       2       0       0           2  200003979210
20218    D    A    A       2       0       0           2  200002645532
21116    C    B    A       2       1       0           3  200001805608
26275    C    B    A       2       1       0           3  200004991554
41406    D    B    A       2       1       0           3  200004077926
43020    D    B    A       2       1       0           3  200002475416
73453    D    B    A       2       1       0           3  200005130274

In [ ]:
df_ft.loc[df_ft.Tot_PtCasa == 0,'Tot_PtCasa_']='1'
df_ft.loc[df_ft.Tot_PtCasa == 1,'Tot_PtCasa_']='1'
df_ft.loc[df_ft.Tot_PtCasa == 2,'Tot_PtCasa_']='1'
df_ft.loc[df_ft.Tot_PtCasa == 3,'Tot_PtCasa_']='2'
df_ft.loc[df_ft.Tot_PtCasa == 4,'Tot_PtCasa_']='3'
df_ft.loc[df_ft.Tot_PtCasa == 5,'Tot_PtCasa_']='4'
df_ft.loc[df_ft.Tot_PtCasa == 6,'Tot_PtCasa_']='5'
df_ft.loc[df_ft.Tot_PtCasa == 7,'Tot_PtCasa_']='6'
df_ft.loc[df_ft.Tot_PtCasa == 8,'Tot_PtCasa_']='6'

- Região Geográfica

In [ ]:
df_ft['RegGeo_Prova'] = df_ft.CO_MUNICIPIO_PROVA.astype(str).str[0] # transforma primeiro em string, depois seleciona o digito

In [ ]:
df_ft.RegGeo_Prova.value_counts().sort_index()

1    260487
2    807744
3    731309
4    228087
5    180166
Name: RegGeo_Prova, dtype: int64

In [ ]:
pd.crosstab(df_ft.SG_UF_PROVA, df_ft.RegGeo_Prova, margins=True, dropna=False)

RegGeo_Prova       1       2       3       4       5      All
SG_UF_PROVA
AC             16791       0       0       0       0    16791
AL                 0   45639       0       0       0    45639
AM             45464       0       0       0       0    45464
AP             17574       0       0       0       0    17574
BA                 0  180875       0       0       0   180875
CE                 0  129693       0       0       0   129693
DF                 0       0       0       0   47294    47294
ES                 0       0   39822       0       0    39822
GO                 0       0       0       0   72531    72531
MA                 0   98509       0       0       0    98509
MG                 0       0  218632       0       0   218632
MS                 0       0       0       0   27101    27101
MT                 0       0       0       0   33240    33240
PA            135585       0       0       0       0   135585
PB                 0   73245       0       0       0    73245
PE                 0  128065       0       0       0   128065
PI                 0   57071       0       0       0    57071
PR                 0       0       0   91166       0    91166
RJ                 0       0  151955       0       0   151955
RN                 0   57667       0       0       0    57667
RO             19616       0       0       0       0    19616
RR              5415       0       0       0       0     5415
RS                 0       0       0   95147       0    95147
SC                 0       0       0   41774       0    41774
SE                 0   36980       0       0       0    36980
SP                 0       0  320900       0       0   320900
TO             20042       0       0       0       0    20042
All           260487  807744  731309  228087  180166  2207793

- SG PROVA

In [ ]:
gr_uf = {'AC': 1,'AL': 1,'AM': 1,'AP': 1,'MA': 1,'PA': 1,'PI': 1,'RO': 1,'TO': 1,
         'BA': 2,'CE': 2,'MT': 2,'PB': 2,'PE': 2,'RR': 2,'SE': 2,
         'GO': 3,'MS': 3,'RN': 3,
         'DF': 4,'ES': 4,'MG': 4,'PR': 4,'RJ': 4,'RS': 4,'SC': 4,'SP': 4}

In [ ]:
df_ft['SG_UF_PROVA_'] = df_ft['SG_UF_PROVA'].map(gr_uf)

In [ ]:
df_ft.SG_UF_PROVA_.value_counts().sort_index()

1     456291
2     587513
3     157299
4    1006690
Name: SG_UF_PROVA_, dtype: int64

In [ ]:
# Exemplo
# df['Status'] = ["Senior" if s >=400 else "Junior" for s in df['Salary']]

# **Recategorização das Variáveis**

- Faixa Etária

In [ ]:
df_ft.loc[df_ft.TP_FAIXA_ETARIA == 1 ,'TP_FAIXA_ETARIA_']='1'
df_ft.loc[df_ft.TP_FAIXA_ETARIA == 2 ,'TP_FAIXA_ETARIA_']='1'
df_ft.loc[df_ft.TP_FAIXA_ETARIA == 3 ,'TP_FAIXA_ETARIA_']='2'
df_ft.loc[df_ft.TP_FAIXA_ETARIA == 4 ,'TP_FAIXA_ETARIA_']='2'
df_ft.loc[df_ft.TP_FAIXA_ETARIA == 5 ,'TP_FAIXA_ETARIA_']='2'
df_ft.loc[df_ft.TP_FAIXA_ETARIA == 6 ,'TP_FAIXA_ETARIA_']='3'
df_ft.loc[df_ft.TP_FAIXA_ETARIA == 7 ,'TP_FAIXA_ETARIA_']='3'
df_ft.loc[df_ft.TP_FAIXA_ETARIA == 8 ,'TP_FAIXA_ETARIA_']='3'
df_ft.loc[df_ft.TP_FAIXA_ETARIA == 9 ,'TP_FAIXA_ETARIA_']='3'
df_ft.loc[df_ft.TP_FAIXA_ETARIA == 10 ,'TP_FAIXA_ETARIA_']='3'
df_ft.loc[df_ft.TP_FAIXA_ETARIA == 11 ,'TP_FAIXA_ETARIA_']='3'
df_ft.loc[df_ft.TP_FAIXA_ETARIA == 12 ,'TP_FAIXA_ETARIA_']='4'
df_ft.loc[df_ft.TP_FAIXA_ETARIA == 13 ,'TP_FAIXA_ETARIA_']='4'
df_ft.loc[df_ft.TP_FAIXA_ETARIA == 14 ,'TP_FAIXA_ETARIA_']='5'
df_ft.loc[df_ft.TP_FAIXA_ETARIA == 15 ,'TP_FAIXA_ETARIA_']='5'
df_ft.loc[df_ft.TP_FAIXA_ETARIA == 16 ,'TP_FAIXA_ETARIA_']='5'
df_ft.loc[df_ft.TP_FAIXA_ETARIA == 17 ,'TP_FAIXA_ETARIA_']='5'
df_ft.loc[df_ft.TP_FAIXA_ETARIA == 18 ,'TP_FAIXA_ETARIA_']='5'
df_ft.loc[df_ft.TP_FAIXA_ETARIA == 19 ,'TP_FAIXA_ETARIA_']='5'
df_ft.loc[df_ft.TP_FAIXA_ETARIA == 20 ,'TP_FAIXA_ETARIA_']='5'

- Estado Civil

In [ ]:
df_ft.loc[df_ft.TP_ESTADO_CIVIL == 0 ,'TP_ESTADO_CIVIL_']='1'
df_ft.loc[df_ft.TP_ESTADO_CIVIL == 1 ,'TP_ESTADO_CIVIL_']='2'
df_ft.loc[df_ft.TP_ESTADO_CIVIL == 2 ,'TP_ESTADO_CIVIL_']='3'
df_ft.loc[df_ft.TP_ESTADO_CIVIL == 3 ,'TP_ESTADO_CIVIL_']='3'
df_ft.loc[df_ft.TP_ESTADO_CIVIL == 4 ,'TP_ESTADO_CIVIL_']='3'

- Cor/Raça

In [ ]:
df_ft.loc[df_ft.TP_COR_RACA == 0 ,'TP_COR_RACA_']='1'
df_ft.loc[df_ft.TP_COR_RACA == 1 ,'TP_COR_RACA_']='2'
df_ft.loc[df_ft.TP_COR_RACA == 2 ,'TP_COR_RACA_']='3'
df_ft.loc[df_ft.TP_COR_RACA == 3 ,'TP_COR_RACA_']='3'
df_ft.loc[df_ft.TP_COR_RACA == 4 ,'TP_COR_RACA_']='4'
df_ft.loc[df_ft.TP_COR_RACA == 5 ,'TP_COR_RACA_']='5'
df_ft.loc[df_ft.TP_COR_RACA == 6 ,'TP_COR_RACA_']='1'

- Ano que concluiu

In [ ]:
df_ft.loc[df_ft.TP_ANO_CONCLUIU == 0 ,'TP_ANO_CONCLUIU_']='1'
df_ft.loc[df_ft.TP_ANO_CONCLUIU == 1 ,'TP_ANO_CONCLUIU_']='2'
df_ft.loc[df_ft.TP_ANO_CONCLUIU == 2 ,'TP_ANO_CONCLUIU_']='2'
df_ft.loc[df_ft.TP_ANO_CONCLUIU == 3 ,'TP_ANO_CONCLUIU_']='3'
df_ft.loc[df_ft.TP_ANO_CONCLUIU == 4 ,'TP_ANO_CONCLUIU_']='3'
df_ft.loc[df_ft.TP_ANO_CONCLUIU == 5 ,'TP_ANO_CONCLUIU_']='3'
df_ft.loc[df_ft.TP_ANO_CONCLUIU == 6 ,'TP_ANO_CONCLUIU_']='4'
df_ft.loc[df_ft.TP_ANO_CONCLUIU == 7 ,'TP_ANO_CONCLUIU_']='4'
df_ft.loc[df_ft.TP_ANO_CONCLUIU == 8 ,'TP_ANO_CONCLUIU_']='4'
df_ft.loc[df_ft.TP_ANO_CONCLUIU == 9 ,'TP_ANO_CONCLUIU_']='5'
df_ft.loc[df_ft.TP_ANO_CONCLUIU == 10 ,'TP_ANO_CONCLUIU_']='5'
df_ft.loc[df_ft.TP_ANO_CONCLUIU == 11 ,'TP_ANO_CONCLUIU_']='5'
df_ft.loc[df_ft.TP_ANO_CONCLUIU == 12 ,'TP_ANO_CONCLUIU_']='6'
df_ft.loc[df_ft.TP_ANO_CONCLUIU == 13 ,'TP_ANO_CONCLUIU_']='6'
df_ft.loc[df_ft.TP_ANO_CONCLUIU == 14 ,'TP_ANO_CONCLUIU_']='6'
df_ft.loc[df_ft.TP_ANO_CONCLUIU == 15 ,'TP_ANO_CONCLUIU_']='6'
df_ft.loc[df_ft.TP_ANO_CONCLUIU == 16 ,'TP_ANO_CONCLUIU_']='6'

- Tipo de Escola

In [ ]:
df_ft.loc[df_ft.TP_ESCOLA == 1 ,'TP_ESCOLA_']='1'
df_ft.loc[df_ft.TP_ESCOLA == 2 ,'TP_ESCOLA_']='2'
df_ft.loc[df_ft.TP_ESCOLA == 3 ,'TP_ESCOLA_']='3'
df_ft.loc[df_ft.TP_ESCOLA == 4 ,'TP_ESCOLA_']='1'

- Tipo de Ensino

In [ ]:
df_ft.loc[df_ft.TP_ENSINO == 1 ,'TP_ENSINO_']='1'
df_ft.loc[df_ft.TP_ENSINO == 2 ,'TP_ENSINO_']='2'
df_ft.loc[df_ft.TP_ENSINO == 3 ,'TP_ENSINO_']='2'
df_ft.loc[df_ft.TP_ENSINO == 9 ,'TP_ENSINO_']='9'

- Quantidade de Moradores na Residência

In [ ]:
df_ft.loc[df_ft.Q005 == 1 ,'Q005_']='1'
df_ft.loc[df_ft.Q005 == 2 ,'Q005_']='1'
df_ft.loc[df_ft.Q005 == 3 ,'Q005_']='1'
df_ft.loc[df_ft.Q005 == 4 ,'Q005_']='1'
df_ft.loc[df_ft.Q005 == 5 ,'Q005_']='2'
df_ft.loc[df_ft.Q005 == 6 ,'Q005_']='3'
df_ft.loc[df_ft.Q005 == 7 ,'Q005_']='4'
df_ft.loc[df_ft.Q005 == 8 ,'Q005_']='5'
df_ft.loc[df_ft.Q005 == 9 ,'Q005_']='5'
df_ft.loc[df_ft.Q005 == 10 ,'Q005_']='5'
df_ft.loc[df_ft.Q005 == 11 ,'Q005_']='5'
df_ft.loc[df_ft.Q005 == 12 ,'Q005_']='5'
df_ft.loc[df_ft.Q005 == 13 ,'Q005_']='5'
df_ft.loc[df_ft.Q005 == 14 ,'Q005_']='5'
df_ft.loc[df_ft.Q005 == 15 ,'Q005_']='5'
df_ft.loc[df_ft.Q005 == 16 ,'Q005_']='5'
df_ft.loc[df_ft.Q005 == 17 ,'Q005_']='5'
df_ft.loc[df_ft.Q005 == 18 ,'Q005_']='5'
df_ft.loc[df_ft.Q005 == 19 ,'Q005_']='5'
df_ft.loc[df_ft.Q005 == 20 ,'Q005_']='5'

- Renda

In [ ]:
df_ft.loc[df_ft.Q006 == 'A' ,'Q006_']='1'
df_ft.loc[df_ft.Q006 == 'B' ,'Q006_']='2'
df_ft.loc[df_ft.Q006 == 'C' ,'Q006_']='3'
df_ft.loc[df_ft.Q006 == 'D' ,'Q006_']='4'
df_ft.loc[df_ft.Q006 == 'E' ,'Q006_']='5'
df_ft.loc[df_ft.Q006 == 'F' ,'Q006_']='6'
df_ft.loc[df_ft.Q006 == 'G' ,'Q006_']='6'
df_ft.loc[df_ft.Q006 == 'H' ,'Q006_']='7'
df_ft.loc[df_ft.Q006 == 'I' ,'Q006_']='7'
df_ft.loc[df_ft.Q006 == 'J' ,'Q006_']='8'
df_ft.loc[df_ft.Q006 == 'K' ,'Q006_']='8'
df_ft.loc[df_ft.Q006 == 'L' ,'Q006_']='9'
df_ft.loc[df_ft.Q006 == 'M' ,'Q006_']='9'
df_ft.loc[df_ft.Q006 == 'N' ,'Q006_']='10'
df_ft.loc[df_ft.Q006 == 'O' ,'Q006_']='10'
df_ft.loc[df_ft.Q006 == 'P' ,'Q006_']='10'
df_ft.loc[df_ft.Q006 == 'Q' ,'Q006_']='10'

- Ter Empregada Doméstica

In [ ]:
df_ft.loc[df_ft.Q007 == 'A' ,'Q007_']='1'
df_ft.loc[df_ft.Q007 == 'B' ,'Q007_']='2'
df_ft.loc[df_ft.Q007 == 'C' ,'Q007_']='2'
df_ft.loc[df_ft.Q007 == 'D' ,'Q007_']='2'

- Qtde de Banheiros

In [ ]:
df_ft.loc[df_ft.Q008 == 'A' ,'Q008_']='1'
df_ft.loc[df_ft.Q008 == 'B' ,'Q008_']='1'
df_ft.loc[df_ft.Q008 == 'C' ,'Q008_']='2'
df_ft.loc[df_ft.Q008 == 'D' ,'Q008_']='3'
df_ft.loc[df_ft.Q008 == 'E' ,'Q008_']='4'

- Qtde de Quartos

In [ ]:
df_ft.loc[df_ft.Q009 == 'A' ,'Q009_']='1'
df_ft.loc[df_ft.Q009 == 'B' ,'Q009_']='1'
df_ft.loc[df_ft.Q009 == 'C' ,'Q009_']='2'
df_ft.loc[df_ft.Q009 == 'D' ,'Q009_']='3'
df_ft.loc[df_ft.Q009 == 'E' ,'Q009_']='4'

- Qtde de Carros

In [ ]:
df_ft.loc[df_ft.Q010 == 'A' ,'Q010_']='1'
df_ft.loc[df_ft.Q010 == 'B' ,'Q010_']='2'
df_ft.loc[df_ft.Q010 == 'C' ,'Q010_']='3'
df_ft.loc[df_ft.Q010 == 'D' ,'Q010_']='4'
df_ft.loc[df_ft.Q010 == 'E' ,'Q010_']='4'

- Qtde de Motos

In [ ]:
df_ft.loc[df_ft.Q011 == 'A' ,'Q011_']='1'
df_ft.loc[df_ft.Q011 == 'B' ,'Q011_']='2'
df_ft.loc[df_ft.Q011 == 'C' ,'Q011_']='3'
df_ft.loc[df_ft.Q011 == 'D' ,'Q011_']='3'
df_ft.loc[df_ft.Q011 == 'E' ,'Q011_']='3'

- Qtde de Geladeiras

In [ ]:
df_ft.loc[df_ft.Q012 == 'A' ,'Q012_']='1'
df_ft.loc[df_ft.Q012 == 'B' ,'Q012_']='2'
df_ft.loc[df_ft.Q012 == 'C' ,'Q012_']='3'
df_ft.loc[df_ft.Q012 == 'D' ,'Q012_']='3'
df_ft.loc[df_ft.Q012 == 'E' ,'Q012_']='3'

- Qtde de Freezer

In [ ]:
df_ft.loc[df_ft.Q013 == 'A' ,'Q013_']='1'
df_ft.loc[df_ft.Q013 == 'B' ,'Q013_']='2'
df_ft.loc[df_ft.Q013 == 'C' ,'Q013_']='3'
df_ft.loc[df_ft.Q013 == 'D' ,'Q013_']='3'
df_ft.loc[df_ft.Q013 == 'E' ,'Q013_']='3'

- Qtde de Lavadora de Roupa

In [ ]:
df_ft.loc[df_ft.Q014 == 'A' ,'Q014_']='1'
df_ft.loc[df_ft.Q014 == 'B' ,'Q014_']='2'
df_ft.loc[df_ft.Q014 == 'C' ,'Q014_']='3'
df_ft.loc[df_ft.Q014 == 'D' ,'Q014_']='3'
df_ft.loc[df_ft.Q014 == 'E' ,'Q014_']='3'

- Qtde de Secadora de Roupa

In [ ]:
df_ft.loc[df_ft.Q015 == 'A' ,'Q015_']='1'
df_ft.loc[df_ft.Q015 == 'B' ,'Q015_']='2'
df_ft.loc[df_ft.Q015 == 'C' ,'Q015_']='2'
df_ft.loc[df_ft.Q015 == 'D' ,'Q015_']='2'
df_ft.loc[df_ft.Q015 == 'E' ,'Q015_']='2'

- Qtde de Microondas

In [ ]:
df_ft.loc[df_ft.Q016 == 'A' ,'Q016_']='1'
df_ft.loc[df_ft.Q016 == 'B' ,'Q016_']='2'
df_ft.loc[df_ft.Q016 == 'C' ,'Q016_']='2'
df_ft.loc[df_ft.Q016 == 'D' ,'Q016_']='2'
df_ft.loc[df_ft.Q016 == 'E' ,'Q016_']='2'

- Qtde de Lavadora de Louças

In [ ]:
df_ft.loc[df_ft.Q017 == 'A' ,'Q017_']='1'
df_ft.loc[df_ft.Q017 == 'B' ,'Q017_']='2'
df_ft.loc[df_ft.Q017 == 'C' ,'Q017_']='2'
df_ft.loc[df_ft.Q017 == 'D' ,'Q017_']='2'
df_ft.loc[df_ft.Q017 == 'E' ,'Q017_']='2'

- Qtde de TVs

In [ ]:
df_ft.loc[df_ft.Q019 == 'A' ,'Q019_']='1'
df_ft.loc[df_ft.Q019 == 'B' ,'Q019_']='2'
df_ft.loc[df_ft.Q019 == 'C' ,'Q019_']='3'
df_ft.loc[df_ft.Q019 == 'D' ,'Q019_']='4'
df_ft.loc[df_ft.Q019 == 'E' ,'Q019_']='5'

- Qtde de computadores

In [ ]:
df_ft.loc[df_ft.Q024 == 'A' ,'Q024_']='1'
df_ft.loc[df_ft.Q024 == 'B' ,'Q024_']='2'
df_ft.loc[df_ft.Q024 == 'C' ,'Q024_']='3'
df_ft.loc[df_ft.Q024 == 'D' ,'Q024_']='4'
df_ft.loc[df_ft.Q024 == 'E' ,'Q024_']='4'

# **Definição de Variáveis**

In [ ]:
df_ft.columns

Index(['NU_INSCRICAO', 'NU_ANO', 'TP_FAIXA_ETARIA', 'TP_SEXO',
       'TP_ESTADO_CIVIL', 'TP_COR_RACA', 'TP_ST_CONCLUSAO', 'TP_ANO_CONCLUIU',
       'TP_ESCOLA', 'TP_ENSINO',
       ...
       'Q005_', 'Q006_', 'Q012_', 'Q013_', 'Q014_', 'Q015_', 'Q016_', 'Q017_',
       'Q019_', 'Q024_'],
      dtype='object', length=108)

In [ ]:
df_varquali = df_ft[['TP_FAIXA_ETARIA','TP_FAIXA_ETARIA_',
                     'TP_SEXO',
                     'TP_ESTADO_CIVIL', 'TP_ESTADO_CIVIL_',
                     'TP_COR_RACA', 'TP_COR_RACA_',
                     'TP_ESCOLA', 'TP_ESCOLA_',
                     'TP_ENSINO', 'TP_ENSINO_',
                     'SG_UF_ESC',
                     'SG_UF_PROVA', 'SG_UF_PROVA_',
                     'TP_ANO_CONCLUIU', 'TP_ANO_CONCLUIU_',
                     'TP_LINGUA',
                     'Q001',
                     'Q002',
                     'Q003',
                     'Q004',
                     'Q005', 'Q005_',
                     'Q006', 'Q006_',
                     'Q007', 'Q007_',
                     'Q008', 'Q008_',
                     'Q009', 'Q009_',
                     'Q010', 'Q010_',
                     'Q011', 'Q011_',
                     'Q012', 'Q012_',
                     'Q013', 'Q013_',
                     'Q014', 'Q014_',
                     'Q015', 'Q015_',
                     'Q016', 'Q016_',
                     'Q017', 'Q017_',
                     'Q018',
                     'Q019', 'Q019_',
                     'Q020',
                     'Q021',
                     'Q022',
                     'Q023',
                     'Q024', 'Q024_',
                     'Q025',
                     'Sum_TIC3', 'Sum_TIC3_',
                     'Sum_TIC5', 'Sum_TIC5_',
                     'Sum_Elet', 'Sum_Elet_',
                     'Esc_Max',
                     'Car_Mot', 'Car_Mot_',
                     'Tot_PtCasa', 'Tot_PtCasa_',
                     'RegGeo_Prova',
                     'Ter_Cel', 'Ter_Com',
                     'Sum_Target_2']]

In [ ]:
df_varquali.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2207793 entries, 0 to 2207792
Data columns (total 72 columns):
 #   Column            Dtype
---  ------            -----
 0   TP_FAIXA_ETARIA   int64
 1   TP_FAIXA_ETARIA_  object
 2   TP_SEXO           object
 3   TP_ESTADO_CIVIL   int64
 4   TP_ESTADO_CIVIL_  object
 5   TP_COR_RACA       int64
 6   TP_COR_RACA_      object
 7   TP_ESCOLA         int64
 8   TP_ESCOLA_        object
 9   TP_ENSINO         int64
 10  TP_ENSINO_        object
 11  SG_UF_ESC         object
 12  SG_UF_PROVA       object
 13  SG_UF_PROVA_      int64
 14  TP_ANO_CONCLUIU   int64
 15  TP_ANO_CONCLUIU_  object
 16  TP_LINGUA         int64
 17  Q001              object
 18  Q002              object
 19  Q003              object
 20  Q004              object
 21  Q005              float64
 22  Q005_             object
 23  Q006              object
 24  Q006_             object
 25  Q007              object
 26  Q007_             object
 27  Q008              object
 28  Q008_             object
 29  Q009              object
 30  Q009_             object
 31  Q010              object
 32  Q010_             object
 33  Q011              object
 34  Q011_             object
 35  Q012              object
 36  Q012_             object
 37  Q013              object
 38  Q013_             object
 39  Q014              object
 40  Q014_             object
 41  Q015              object
 42  Q015_             object
 43  Q016              object
 44  Q016_             object
 45  Q017              object
 46  Q017_             object
 47  Q018              object
 48  Q019              object
 49  Q019_             object
 50  Q020              object
 51  Q021              object
 52  Q022              object
 53  Q023              object
 54  Q024              object
 55  Q024_             object
 56  Q025              object
 57  Sum_TIC3          int64
 58  Sum_TIC3_         object
 59  Sum_TIC5          int64
 60  Sum_TIC5_         object
 61  Sum_Elet          int64
 62  Sum_Elet_         object
 63  Esc_Max           object
 64  Car_Mot           object
 65  Car_Mot_          object
 66  Tot_PtCasa        int64
 67  Tot_PtCasa_       object
 68  RegGeo_Prova      object
 69  Ter_Cel           int64
 70  Ter_Com           int64
 71  Sum_Target_2      int64
dtypes: float64(1), int64(15), object(56)
memory usage: 1.2+ GB

# **Análise das Categorias das Variáveis**

In [ ]:
table_categ = pd.DataFrame()
totais_valid = pd.DataFrame()
i = 0

for column in df_varquali:
  var = df_varquali.columns[i]
  c1 = df_varquali[column].value_counts().sort_index()
  c2 = round(df_varquali[column].value_counts().sort_index()/df_varquali.shape[0] * 100,2)
  c3 = df_varquali.groupby([column])['Sum_Target_2'].sum()
  c4 = round(c3/df_ft['Sum_Target_2'].sum() * 100, 2)
  c5 = c1 - c3
  c6 = round(c5/df_ft['Sum_Target_2'].loc[df_ft.Sum_Target_2 == 0].count() * 100, 2)
  c7 = round(c3/c1 * 100, 2)
  c8 = round(c4/c6,2)

  table = pd.concat([c1, c2, c3, c4, c5, c6, c7, c8], axis=1)
  table.columns = ['n', '% Total', 'n AD', '% AD Total','n BD', '% BD Total', '% AD Categoria', 'Razão AD/BD']

  totais = round(table.sum())
  totais_ = pd.DataFrame(data=totais, columns=['Total'])
  totais_t = totais_.transpose()
  totais_valid = pd.concat([totais_valid, totais_t])

  table['Variavel'] = var
  table_categ = pd.concat([table_categ, table])
  i = i + 1

  #n = table_categ.shape
  #table_categ.loc[n[0]+1]=['','','','','',''] # Criar linha vazia entre as tabelas

table_categ['Ano'] = 2020

table_categ.to_excel('/content/drive/MyDrive/MBA_TCC/RESULTADOS/Table_Categorias_2020.xlsx')
totais_valid.to_excel('/content/drive/MyDrive/MBA_TCC/RESULTADOS/Totais_Table_Categorias_2020.xlsx')

# **Análises Adicionais**

In [ ]:
df_teste = df_ft.loc[df_ft['Sum_Target_2'] == 1]
df_teste.shape

(1070098, 108)

In [ ]:
pd.crosstab(df_ft.TP_FAIXA_ETARIA,df_ft.TP_ST_CONCLUSAO, margins=True, dropna=False)

TP_ST_CONCLUSAO        1       2      All
TP_FAIXA_ETARIA
1                    510   13492    14002
2                  10132  381096   391228
3                 175611  313792   489403
4                 229664   60991   290655
5                 176964   16811   193775
6                 128874    5445   134319
7                  93464    2395    95859
8                  76385    1428    77813
9                  61374    1091    62465
10                 50337     879    51216
11                153815    2470   156285
12                 89697    1640    91337
13                 63685    1258    64943
14                 41124     905    42029
15                 26119     674    26793
16                 14594     394    14988
17                  6794     208     7002
18                  2514      73     2587
19                   799      24      823
20                   264       7      271
All              1402720  805073  2207793

In [ ]:
pd.crosstab(df_teste.TP_FAIXA_ETARIA,df_teste.TP_ST_CONCLUSAO, margins=True, dropna=False)

TP_ST_CONCLUSAO       1       2      All
TP_FAIXA_ETARIA
1                   260    7617     7877
2                  5705  217078   222783
3                104221  149315   253536
4                123949   19262   143211
5                 88308    3776    92084
6                 61213     881    62094
7                 43473     314    43787
8                 34847     175    35022
9                 27340     131    27471
10                22348     123    22471
11                68716     297    69013
12                38247     170    38417
13                23542     102    23644
14                13102      69    13171
15                 8145      46     8191
16                 4307      18     4325
17                 2067      17     2084
18                  685       3      688
19                  173       1      174
20                   55       0       55
All              670703  399395  1070098

In [ ]:
pd.crosstab(df_ft.Q001,df_ft.Q002, margins=True, dropna=False)

Q002      A       B       C       D       E       F       G      H      All
Q001
A     38324   35121   11811    6547   10997    1673    1054   1183   106710
B     19013  189375   70668   47546   89394   15611   11156   3416   446179
C      5383   36599   92617   48830   93528   18460   14469   2556   312442
D      2201   19563   32321   62767   88052   21094   15729   2093   243820
E      3608   30296   43528   62190  327217   87424   62540   5647   622450
F       343    3234    5038    8668   62476   63672   38851   1048   183330
G       115    1119    1708    3140   24506   27960   53673    671   112892
H      4083   21781   20648   20975   56865   12736    8379  34503   179970
All   73070  337088  278339  260663  753035  248630  205851  51117  2207793

In [ ]:
pd.crosstab(df_teste.Q001,df_teste.Q002, margins=True, dropna=False)

Q002      A      B       C       D       E       F       G      H      All
Q001
A      6289   8089    3156    1867    3303     667     419    199    23989
B      4425  51128   23060   17162   34649    7452    5607    829   144312
C      1433  12840   32590   19688   43638   10511    8550    772   130022
D       627   7501   14005   24814   44271   13088   10177    731   115214
E       910  11592   20289   31351  178152   60919   45603   2206   351022
F       136   1582    2984    5487   45895   52575   33461    629   142749
G        40    505     974    1970   18294   24575   46800    432    93590
H       882   6331    7025    7819   24758    7513    5306   9566    69200
All   14742  99568  104083  110158  392960  177300  155923  15364  1070098

In [ ]:
pd.crosstab(df_ft.Q010,df_ft.Q011, margins=True, dropna=False)

Q011        A       B      C     D    E      All
Q010
A      973571  244083  17443  1025   81  1236203
B      593751  169099  17984  1479  145   782458
C      131096   27512   4832   630  115   164185
D       16372    3415    825   223   48    20883
E        2895     740    248    80  101     4064
All   1717685  444849  41332  3437  490  2207793

In [ ]:
pd.crosstab(df_teste.Q010,df_teste.Q011, margins=True, dropna=False)

Q011       A       B      C     D    E      All
Q010
A     356348   84754   6675   363   23   448163
B     366110   94232  10042   758   67   471209
C     106264   19981   3265   413   75   129998
D      13912    2644    605   157   38    17356
E       2481     574    183    53   81     3372
All   845115  202185  20770  1744  284  1070098

# **Exclusão de Colunas**

In [ ]:
df_ft.shape

(2207793, 108)

In [ ]:
df_ft.drop(['TP_FAIXA_ETARIA','TP_ESTADO_CIVIL','TP_COR_RACA','TP_ST_CONCLUSAO','TP_ANO_CONCLUIU',
            'TP_ESCOLA', 'TP_ENSINO', 'Q005', 'Q006', 'Q007', 'Q008', 'Q009', 'Q010', 'Q011',
            'Q012', 'Q013', 'Q014', 'Q015', 'Q016', 'Q017', 'Q019', 'Q024', 'Sum_TIC3', 'Sum_TIC5',
            'Sum_Elet', 'Car_Mot', 'Tot_PtCasa', 'Q001_', 'Q002_', 'Ter_Asp', 'Ter_TV', 'Ter_DVD',
            'Ter_TVa', 'Ter_TFi', 'Ter_Gel', 'Ter_Fre', 'Ter_LvR', 'Ter_ScR', 'Ter_Mio', 'Ter_LvL',
            'Q007_f2', 'Q007_f', 'Q008_f2', 'Q008_f', 'Q009_f2', 'Q009_f', 'Tot_PtCasa_2', 'Ter_Int'], axis = 1, inplace = True)
df_ft.shape

(2207793, 60)

In [ ]:
df_ft.columns

Index(['NU_INSCRICAO', 'NU_ANO', 'TP_SEXO', 'CO_MUNICIPIO_ESC',
       'NO_MUNICIPIO_ESC', 'SG_UF_ESC', 'TP_LOCALIZACAO_ESC',
       'CO_MUNICIPIO_PROVA', 'NO_MUNICIPIO_PROVA', 'SG_UF_PROVA', 'NU_NOTA_CN',
       'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT', 'TP_LINGUA',
       'NU_NOTA_REDACAO', 'Q001', 'Q002', 'Q003', 'Q004', 'Q018', 'Q020',
       'Q021', 'Q022', 'Q023', 'Q025', 'Sum_Target', 'Sum_Target_2',
       'Sum_Target_3', 'Ter_Cel', 'Ter_Com', 'Sum_TIC3_', 'Sum_TIC5_',
       'Sum_Elet_', 'Esc_Max', 'Q010_', 'Q011_', 'Car_Mot_', 'Q007_', 'Q008_',
       'Q009_', 'Tot_PtCasa_', 'RegGeo_Prova', 'SG_UF_PROVA_',
       'TP_FAIXA_ETARIA_', 'TP_ESTADO_CIVIL_', 'TP_COR_RACA_',
       'TP_ANO_CONCLUIU_', 'TP_ESCOLA_', 'TP_ENSINO_', 'Q005_', 'Q006_',
       'Q012_', 'Q013_', 'Q014_', 'Q015_', 'Q016_', 'Q017_', 'Q019_', 'Q024_'],
      dtype='object')

# **Exportar Base Final**

In [ ]:
df_ft.to_csv('/content/drive/MyDrive/MBA_TCC/DADOS/df_ft_2020_categ.csv', index=False)